img{
    float: right !important;
    margin-left: 10px;
}

.box{
    width: 200px;
    height: 100px;
    border: 1px solid;
    font-size: 40px;
    text-align: center;
}

.sidebar{
    position: fixed;
    left : 0;
    top : 0;
    width : 200px;
    height : 100vh;
    background: #222;
    padding-top : 30px
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

.sidebar a:hover {
  background: #444;
}