body {
  background-color: rgb(19, 40, 66);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
  font-size: 40px;
  color: rgb(66, 229, 131);
  text-align: center; 
  text-shadow: 0px 0px 25px  rgb(79, 248, 147); 
}

h2 {
  color: rgb(131, 252, 179);
  margin-top: 30px;
}

h3 {
  color: rgb(79, 248, 147);
}

p {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}


ul {
  color: white;
}

img{
    float: right;
    margin-left: 10px;
}

.box{
    width: 800px;
    height: 50px;
    border: 1px solid;
    font-size: 20px;
    text-align: center;
    color: white;
}

.section{
  color: #39FF14;
  padding-top: 50px;
  padding-right: 20px;
}

.sidebar{
    position: fixed;
    left : 0;
    top : 0;
    width : 200px;
    height : 100vh;
    background: #121b29;
    padding-top : 30px
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
}

.sidebar a:hover {
  background: #444;
}

.content-wrapper {
  max-width: 800px;
  margin: 10px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: rgb(0, 255, 153);
  text-decoration: none;
  font-size: 22px;
}

.layout {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 170px;
  position: sticky;
  top: 0px;
  padding-right: 0;
}

.content-wrapper {
  max-width: 800px;
  margin-left: 100px;
  margin-right: 50px;
}

/* trying to make a grid */
.grid-container{
  height: 100%;
  display: grid;
  grid-gap: 20px 20 px;

  grid-template-areas:"header header"
                      "content sidebar"
                      "footer footer";
}

#header {
  grid-area:header;
}

#content {
  grid-area:content;
}

#sidebar {
  grid-area:sidebar;
}

#footer{
  grid-area:footer;
}